body {
    font-family: 'Itim', cursive;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px; 
    padding: 40px;
  }
  
  .imagem img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; 
  }
  
  .btn {
    display: block;
    width: 220px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: white;
    text-align: center;
  }
  
  .entrar {
    background-color: #EFD345;
  }
  
  .entrar:hover {
    background-color: #FFEF82;
  }
  
  .criar {
    background-color: #82954B;
  }
  
  .criar:hover {
    background-color: #BABD42;
  }
  