/* -------- RESET -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  color: #333;
  background: #fff;
  scroll-behavior: smooth;
}

/* WRAPPER DA SENHA */
.password-wrapper {
  position: relative;
  width: 100%;
}

/* INPUT DE SENHA */
.password-wrapper input {
  width: 100%;
  padding: 12px 45px 12px 15px; /* espaço para o ícone */
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
  background: #fff;
}

/* FOCO COM BORDA GRADIENTE (IGUAL AO EMAIL) */
.password-wrapper input:focus {
  border: 2px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #58cc02, #ffcc00) border-box;
  box-shadow: 0 0 6px rgba(88, 204, 2, 0.4);
}

/* ÍCONE DE MOSTRAR SENHA */
.toggle-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #777;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s, transform 0.2s;
}


.close-btn {
  position: absolute;
  top: 100px;
  left: 100px;
  text-decoration: none;
  color: #333;
  font-size: 28px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn .material-symbols-outlined {
  font-size: 40px; 
}

.close-btn:hover {
  color: #ff0000; 
  transform: scale(1.1);
}

/* -------- HERO / FORMULÁRIO -------- */
.login-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
}

.login-hero h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #4a00e0
}

/* FORMULÁRIO */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.login-form input {
  padding: 12px 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
  background: #fff;
}

.login-form input:focus {
  border: 2px solid transparent;
  border-radius: 30px;
  background: 
    linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(to right, #58cc02, #ffcc00) border-box; 
  box-shadow: 0 0 6px rgba(88, 204, 2, 0.4);
}

/* BOTÃO */
.login-form button {
  padding: 16px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: linear-gradient(90deg, #8e2de2, #4a00e0);
  color: #fff;
  transition: 0.3s;
}

.login-form button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .login-hero h1 {
    font-size: 1.8rem;
  }

  .login-form button,
  .login-form input {
    font-size: 1rem;
    padding: 12px;
  }
}
